<div class="contacts-container">
  <div class="image-wrapper left-image">
    <img src="assets/6.PNG" alt="Contact illustration" class="contact-image">
    <div class="text-overlay">
      <h2>Contacts:</h2>
      <p>leticija.ma&#64;gmail.com</p>
      <p>+37069987849</p>
    </div>
  </div>

  <div class="image-wrapper right-image">
    <img src="assets/5.PNG" alt="Location illustration" class="contact-image">
    <div class="text-overlay">
      <h2>Where are we based</h2>
      <p>Breda University of Applied Sciences</p>
      <p>Monseigneur Hopmansstraat 2, 4817 JS</p>
      <p>Breda</p>
      <p>The Netherlands</p>
    </div>
  </div>
</div>
