.contacts-container {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.image-wrapper {
  position: absolute;
  bottom: 0;
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .contact-image {
    width: auto;
    height: 100%;
    object-fit: contain;
  }

  .text-overlay {
    position: absolute;
    padding: 2rem;
    text-align: left;

    h2 {
      font-size: 2.5rem;
      font-weight: bold;
      color: #800000;
      margin-bottom: 1.5rem;
      font-family: 'Beautifully Delicious', sans-serif;
    }

    p {
      font-size: 2rem;
      line-height: 1.6;
      color: #2c3e50;
      margin: 0.5rem 0;
      font-family: 'Century Gothic', sans-serif;
    }
  }
}

.left-image {
  left: 10%;
  z-index: 1;
  height: 90vh;

  .text-overlay {
    left: 21%;
    top: 25%;
    text-align: center;

    h2 {
      margin: 0;
    }

    p {
      margin: 0;
    }
  }
}

.right-image {
  right: 8.5%;
  z-index: 2;
  height: 60vh;

  .contact-image {
    width: 50vw;
    height: auto;
  }

  .text-overlay {
    right: 25%;
    top: 17.5%;
    text-align: start;

    h2 {
      margin-bottom: 1.4rem;
    }

    p {
      margin-bottom: -1.4rem;
    }
  }
}

@media (max-width: 968px) {
  .image-wrapper {
    height: 50vh;

    .text-overlay {
      h2 {
        font-size: 1.5rem;
      }

      p {
        font-size: 1.2rem;
      }
    }
  }

  .left-image .text-overlay {
    left: 10%;
  }

  .right-image .text-overlay {
    right: 10%;
  }
}
